include:
  - docker-compose.env.yml

services:
  samba:
    #
    # build off of https://github.com/dockur/samba
    build:
      context: .
      dockerfile: Dockerfile

    hostname: cozy-share
    container_name: samba

    restart: always

    dns:
      - 10.0.0.1
      - 1.1.1.1
      - 1.0.0.1

    dns_search:
      - local
      - localdomain

    mac_address: "${MAC:-'00:00:00:00:00:01'}"

    networks:
      frontend:
        ipv4_address: ${IP:-10.0.0.200}

    ports:
      - "445:445"
      - "139:139"
      - "137:137/udp"
      - "138:138/udp"
      - "3702:3702/udp"
      - "5353:5353/udp"

    volumes:
      - ${DOWNLOAD_DIRECTORY:-./data/Downloads}:/storage/Downloads
      - ${GAME_DIRECTORY:-./data/Game}:/storage/Game
      - ${GIT_DIRECTORY:-./data/Git}:/storage/Git
      - ${MEDIA_DIRECTORY:-./data/Media}:/storage/Media
      - ${MISC_DIRECTORY:-./data/Misc}:/storage/Misc
      - ${PUBLIC_DIRECTORY:-./data/Public}:/storage/Public

      - ./app/samba/smb.conf:/etc/samba/smb.conf
      - ./app/samba/users.conf:/etc/samba/users.conf


    cap_add:
      - NET_ADMIN
      - NET_BROADCAST

networks:
  frontend:
    external: true
