services:
  samba:
    #
    # build off of https://github.com/dockur/samba
    build:
      context: .
      dockerfile: Dockerfile

    hostname: cozy-share
    container_name: samba

    restart: always

    dns:
      - 10.0.0.1

    dns_search:
      - local
      - localdomain

    mac_address: "${MAC:-'00:00:00:00:00:01'}"

    networks:
      frontend:
        ipv4_address: ${IP}

    ports:
      - "445:445"
      - "139:139"
      - "137:137/udp"
      - "138:138/udp"
      - "3702:3702/udp"
      - "5353:5353/udp"

    volumes:
      - ${GIT_DIRECTORY:-./data/Git}:/storage/Git
      - ${DOWNLOAD_DIRECTORY:-./data/Downloads}:/storage/Downloads
      - ${MISC_DIRECTORY:-./data/Misc}:/storage/Misc
      - ./app/smb.conf:/etc/samba/smb.conf
      # NIT: Useful in debug but really not helpful in deployment
      # - ./app/users.conf:/etc/samba/users.conf

    environment:
      NAME: "${SHARE_NAME:-data}"
      USER: "${SHARE_USER:-user}"
      PASS: "${SHARE_PASS:-pass}"

networks:
  frontend:
    external: true
