<service-group>
  <name replace-wildcards="yes">Game on %h</name>
  <service>
    <type>_smb._tcp</type>
    <port>445</port>
    <txt-record>path=/Game</txt-record>
    <txt-record>sd=Game path</txt-record>
  </service>
</service-group>
